<div class="header" *ngIf="!doc">
  <form [formGroup]="searchForm" (ngSubmit)="search()">
    <div style="text-align:center">
      <input formControlName="q" type="text">
      <button type="submit">Search</button>
    </div>
  </form>
</div>

<div class="story-container" *ngIf="doc && !article">
  <div *ngIf="doc.type == 'character'">
    <p>{{doc.name}} is a {{doc.gender}} {{doc.species}} <span *ngIf="descSet()">from {{doc.homeworld}}</span>
    <span *ngIf="doc.age"> who is about {{doc.age}} years old</span><span
      *ngIf="doc.starships && doc.starships.length > 0"> and flies a {{doc.starships[0]}}</span>.</p>

    <p *ngIf="doc.force && doc.force !='none'">
      {{getHeShe()}} is a {{doc.force}}<span *ngIf="doc.trainedby"> and was trained by {{doc.trainedby}}</span>.

    </p>

    <span *ngIf="doc.relatives && doc.relatives.length > 0 && descSet()">
    Relatives:
    </span>
    <ul  *ngIf="doc.relatives && doc.relatives.length > 0 && descSet()">
    <li *ngFor="let relative of doc.relatives">
      {{relative}}
    </li>
    </ul>


  </div>
  <div *ngIf="doc.type == 'species'" style="margin-left: -30px">
    <ul>
      <li>Classification: {{doc.classification}}</li>
      <li>Avg Height: {{doc.average_height}} meters</li>
      <li>Avg Lifespan: {{doc.average_lifespan}} years</li>
      <li>Homeworld: {{doc.homeworld}}</li>
    </ul>
  </div>
  <div *ngIf="doc.type == 'starships'" style="margin-left: -30px">
    <ul>
      <li>Manufacturer: {{doc.manufacturer}}</li>
      <li>Model: {{doc.model}}</li>
      <li>Length: {{doc.length}} meters</li>
      <li>Crew: {{doc.crew}}</li>
      <li>Passengers: {{doc.passengers}}</li>
    </ul>
  </div>
  <div *ngIf="doc.type == 'planets'" style="margin-left: -30px">
    <ul>
      <li>Climate: {{doc.climate}}</li>
      <li>Terrain: {{doc.terrain}}</li>
      <li>Day Length: {{doc.rotation_period}} hours</li>
      <li>Orbital Period: {{doc.orbital_period}} days</li>
      <li>Diameter: {{doc.diameter}} meters</li>
      <li *ngIf="descSet()">Population: {{doc.population}}</li>
      <li>Residents: <span *ngIf="!descSet()">none</span>
      <ul *ngIf="descSet()">
        <li *ngFor="let resident of doc.residents">
          {{resident}}
        </li>
      </ul>
      </li>
    </ul>
  </div>
</div>

<div class="results-container" *ngIf="!doc">
  <div *ngIf="!results || !results.length">
    <h2>No Results Found</h2>
  </div>
  <div *ngIf="results">
    <span style="margin:20px">
      <b>Character Entities:</b> <span *ngFor="let facet of facets"> {{facet.name}}: {{facet.count}}</span>
    </span>
  </div>
  <div class="card" *ngFor="let result of results" style="margin: 20px">
    <div class="title">
      <a routerLink="/story" [queryParams]="{uri: result.uri}" (click)="getArticle(result.uri)"><span style="font-weight: bold">Title:</span> {{result.uri}}</a>
    </div>
    <div class="snippet">
      <span style="font-weight: bold">Snippet:</span> <span [innerHTML]="result.snippet"></span>
    </div>
  </div>
</div>

<div class="legend" *ngIf="article">
  Legend: <span class="character-legend">Characters</span> <span class="planet-legend">Places</span> <span
  class="starship-legend">Starships</span>
</div>

<div class="full-story-container" *ngIf="article">
  <b>{{articleTitle}}</b>
  <p><i (click)="refresh()" class="fab fa-rebel"></i>
    <div [innerHTML]="getSafeContent()"></div>
    <div id="art">
    </div>
</div>


